<div>
  <h1> angular hooks practice</h1>
  <div>
    <button (click)="increament()">Increament</button>
    <button (click)=" decreament()">Decreament</button>
    <button (click)="add()">Add</button>
    <button (click)="setVisibility()">show/hide</button>
    <app-demo *ngIf="isVisible" [myCounter]="counter" [secondNumber]="secondNumber" [numbers]="numbers">
      Hello this is coming from parent component content projection
    </app-demo>

  </div>
</div>
<!-- <app-demo2>
  <p #projectedContent>This is projected content!</p>
</app-demo2> -->